body {
    background-color: #ababab;
}

.main_content {

    max-width: 1024px;

    text-align: left;

    display: inline-block;
    margin: 20px;

    background: #eee;
    border-radius: 5px;
    padding: 15px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;

    margin-top: 40px;


}


.main_content .version_label {
    text-align: right;

}

/* DynamicPages - content/index.php */
.DynamicPagesBean {
    display: block;
    overflow: hidden;
}

.DynamicPagesBean .photo {

    display: block;
}

.DynamicPagesBean .photo IMG {
    /*   height:160px; */
    display: block;
    width: 100%;
}

.DynamicPagesBean .PagePhotos {
    max-height: 80px;
    display: block;
}

.DynamicPagesBean .PagePhotos IMG {
    height: 80px;
    display: inline-block;
}

.DynamicPagesBean .item_title {
    font-size: 18px;
    display: block;
    padding-top: 15px;

}

.DynamicPagesBean .content {
    padding-top: 10px;
    padding-bottom: 10px;
}




/* IE < 8 */
.DemoPage.dialogs .main_content .ColorButton {
    float:right;
    clear:both;
    margin-bottom:1em;
}
.DemoPage.dialogs .main_content .InputComponent {
    margin-bottom:0.5em;
    clear:both;
}
.DemoPage.dialogs .main_content .InputLabel {
    display:block;
}