.news_view {
    display: table;
    width: 100%;
    border-spacing: 10px;
}

.news_view .column {
    display: table-cell;
    vertical-align: top;

}

.news_view .column.main {

}

.news_view .column.main .title {
    font-size: 120%;
    display: block;
}

.news_view .column.main .date {
    font-size: 80%;
    font-style: italic;
}

.news_view .column.main .content {
    margin-top: 20px;
}

.news_view .column.other {

}

.news_view .column.other {


}


