.column.details {
    display: block;
}

.product_details {
    display: inline-table;
    max-width: 400px;
    outline: 1px dotted gray;
    vertical-align: top;
    text-align: left;
    float: right;
    margin-left: 20px;
    font-size: 1.1em;
}

.product_details .item {
    display: table-row;
}

.product_details .item > LABEL {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 6px;

}

.product_details .item > LABEL:after {
    content: ":";
}

.product_details .item SPAN.value {
    display: table-cell;
    vertical-align: middle;
}

.size_chooser .product_size {
    display: block;
}

.color_chooser {
    display: block;
    vertical-align: top;
}

.color_chooser .color_button {
    display: inline-block;
    outline: 1px dotted gray;
    margin-right: 5px;

}

.color_chooser .color_button[active="1"] {
    outline: 1px solid red;
}

.color_chooser .color_button IMG {
    display: block;
    width: 24px;
    height: 24px;
}

.color_chooser .color_button SPAN {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    width: 24px;
    height: 24px;
}
