<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "modification"
</IfModule>

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteRule ^assets/(.*)$ sparkboot.php?StorageRequest=1&route=$1 [E=IS_SPARK_ASSET:1,QSA,L]
</IfModule>